@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '../assets/owfont-regular.css';

html {
    scroll-behavior: smooth;
}

body {
    background-color: #262626;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    .auth-card {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        .auth-input {
            margin-top: 5px;
        }
        .auth-password-length {
            margin-top: 5px;
        }
        .auth-buttons-wrapper {
            margin-top: 5px;
            display: flex;
            justify-content: space-around;
        }
        .auth-without-reg {
            margin-top: 5px;
            cursor: pointer;
        }
    }
}
.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    .home-title {
        margin-top: 5px;
        font-size: 2rem;
    }
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.card-wrapper {
    width: 288px;
    height: 384px;
    border: 1px solid white;
    margin: 5px;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    position: relative;
    background-color: #433f3f;
    cursor: pointer;
    &:hover {
        //border: 1px solid red;
        box-shadow: inset 0px 0px 10px rgb(255, 132, 18);
    }

    .card-description {
        //position: absolute;
        // bottom: 0;
        // left: 50%;
        // transform: translate(-50%, 0);
        font-size: 2rem;
    }
}

.header-wrapper,
.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    max-width: 1200px; //паддинги считает почему-то в эту величину потом пофиксить
    min-height: 150px;

    margin: 0 auto;
    background-color: #433f3fa3;

    color: #fff;
    font-size: 16px;
    line-height: 19px;
}

.header-logo {
    svg {
        width: 100px;
        height: 100px;
        cursor: pointer;
        path {
            stroke: rgb(0, 0, 0);
            fill: transparent;
            stroke-dasharray: 250;
            stroke-dashoffset: 0;
            stroke-width: 1px;
        }
    }
    svg:hover path {
        animation: logo 1s linear 0.2s 1;
    }
}
@keyframes logo {
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke: rgb(255, 153, 0);
        stroke-dashoffset: 150;
    }
    50% {
        stroke: transparent;
        fill: #000;
        stroke-dashoffset: 240;
    }
    100% {
        fill: transparent;
        stroke: rgb(0, 0, 0);
    }
}

nav {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            margin: 8px;
            padding: 2px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: rgb(0, 0, 0);
                font-size: 16px;
                line-height: 19px;
                text-transform: capitalize;
                font-weight: 400;
            }
        }
        li:hover {
            transition: all 0.2s;
            border-bottom: 3px solid rgb(255, 153, 0);
        }
        .active {
            border-bottom: 3px solid rgb(255, 153, 0);
        }
    }
}

.parallax {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 600px;
    max-width: 1450px;

    background-image: url(../assets/img/paralax_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

    margin: 20px auto;
    h3 {
        font-size: 34px;
        line-height: 36px;
        opacity: 0.6;
        color: rgb(255, 153, 0);
    }
}

.search-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;

    background-color: #433f3f;

    .search {
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        outline: none;
        margin: 0;
        padding: 0;
        border: none;
        padding-left: 10px;
    }

    .search-button {
        width: 30px;
        height: 30px;
        background-image: url(../assets/img/search.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .clear-button {
        width: 30px;
        height: 30px;
        background-image: url(../assets/img/github.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
}

.language-wrapper {
    position: relative;

    select {
        padding: 10px;
        background: none;
        appearance: none;
        outline: none;
        border: none;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
        option {
            outline: none;
            appearance: none;
            background-color: #433f3f;
        }
    }
    select:hover {
        text-shadow: 0 0 1px #fff;
    }
}

.footer-wrapper {
    .footer-rs-logo {
        height: 30px;
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }
    .footer-git-logo {
        width: 15px;
        height: 15px;
        max-height: 30px;
        margin-right: 5px;
        background-color: #000;
        border-radius: 50%;
    }
    .footer-autor-name {
        display: flex;
        align-items: center;
        margin: 10px;
        text-decoration: none;
        color: #fff;
        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
            color: rgb(255, 132, 18);
        }
    }
}

.country-about-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    .country-photo-wrapper {
        flex-shrink: 0;
        width: 288px;
        height: 384px;
        border: 1px solid white;
        margin: 5px;
        background-color: rgb(13, 211, 230);
    }
    .country-about {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
}

.country-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    .country-widjets-wrapper {
        position: absolute;
        border: 1px solid white;
        top: 10%;
        right: 10px;
    }
    .country-media-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        .country-gallery-wrapper {
            max-width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid white;
        }
    }
}
.photo-wrapper {
    max-width: 100%;
}
.video-wrapper {
    width: 45%;
    display: flex;
    align-items: center;
    //height: 40px;
    //background-color: blueviolet;
    border: 1px solid white;
}
.reaction-wrapper {
    border: 1px solid red;
}
.map-wrapper {
    margin: 0 auto;
    margin-top: 10px;
    width: 700px;
    height: 400px;
    border: 1px solid white;
}

.weather-wrapper {
    background-color: burlywood;
    display: flex;

    .weather-icon {
        width: 50px;
        height: 50px;
    }
    .wheather-descr-wrapper {
        display: flex;
        flex-direction: column;
        .weather-temp {
            font-size: 2rem;
        }
    }
}
.currency-wrapper {
    background-color: rgb(148, 222, 135);
    display: flex;
    flex-direction: column;
    .currency-rate {
        margin-right: 5px;
    }
}
.time-wrapper {
    background-color: #fff;
}
