@import "~react-image-gallery/styles/scss/image-gallery.scss";

a {
  text-decoration-skip-ink: auto;   // ссылки в хедере 
	text-decoration:none;
	color: inherit;
}

.auth-wrapper{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0 auto;
	max-width: 1200px;
	.auth-card{
		display: flex;
		flex-direction: column;
		max-width: 500px;
		.auth-input{
			margin-top: 5px;
		}
		.auth-password-length{
			margin-top: 5px;
		}
		.auth-buttons-wrapper{
			margin-top: 5px;
			display: flex;
			justify-content: space-around;
		}
		.auth-without-reg{
			margin-top: 5px;
		}
	}
}
.home-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 1200px;
	.home-title{
		margin-top: 5px;
		font-size: 2rem;
	}
	.cards-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.card-wrapper{
	width: 288px;
	height: 384px;
	border: 1px solid black;
	margin: 5px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	position: relative;
	background-color: rgb(13, 211, 230);
	&:hover{
		//border: 1px solid red;
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.959);
	}

	.card-description{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform:translate(-50%, 0);
font-size: 2rem;
	}
}

.header-wrapper,
.footer-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-around;

	max-width: 1200px; //паддинги считает почему-то в эту величину потом пофиксить
	min-height: 150px;

	margin: 0 auto;
	background-color: #433f3f;

	color: #fff;
	font-size: 16px;
	line-height: 19px;
}

.paralax{
	height: 500px;
	width: 100%; 
	background-image: url(../assets/img/paralax_img.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom;
}

.serch-wrapper{
	display: flex;
	justify-content: flex-start;
}

.footer-wrapper{
	.footer-rs-logo{
		height: 30px;
		&:hover{
			transform: scale(1.1);
			transition: all .3s ;
		}
	}
	.footer-git-logo{
		max-height: 30px;
		height: 15px;
		width: 15px;
		margin-right: 5px;
		background-color: #000;
		border-radius: 50%;
	}
	.footer-autor-name{
		display: flex;
		align-items: center;
		margin: 10px;
		text-decoration: none;
		color: #fff;
		&:hover{
			transform: scale(1.1);
			transition: all .3s ;
			color: rgb(255, 132, 18);
		}
	}
	
}

.country-about-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	.country-photo-wrapper{
		flex-shrink: 0;
	width: 288px;
	height: 384px;
	border: 1px solid black;
	margin: 5px;
	}
	.country-about{
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: left;
	}
}

.country-wrapper{
	max-width: 1200px;
	margin: 0 auto ;
	margin-top: 10px;
	position: relative;
	.country-widjets-wrapper{
		position: absolute;
		border: 1px solid black;
		top: 50%;
		right: 10px;
	}
	.country-media-wrapper{
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
		.country-photo-wrapper{
			max-width: 45%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border: 1px solid black;
		}
	}
}
.photo-wrapper{
max-width: 100%;
}
.video-wrapper{
	width: 45%;
	display: flex;
	align-items: center;
	//height: 40px;
	//background-color: blueviolet;
	border: 1px solid black;
}
.reaction-wrapper{
	border: 1px solid red;
}
.map-wrapper{
	width: 700px;
	height: 400px;
	margin-top: 10px;
	border: 1px solid black;
}

.map-box{
	width: 400px;
	height: 400px;
}
